body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.header-bar {
  font-size: large;
  color: #0C1E80;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
}



.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 200px;
  height: calc(100vh - 60px);
  background: #eee;
  padding-top: 20px;
}

.main-content {
  margin-top: 60px;
  margin-left: 200px;
  padding: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInSlide 0.4s ease forwards;
}

/* Animation Keyframe */
@keyframes fadeInSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sidebar ul {
  list-style: none;       /* Removes bullets */
  margin: 0;
  padding: 0;
}

.sidebar ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #0C1E80; /* deep blue like image */
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar ul li a.active {
  background-color: #0C1E80;
  color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: background-color 0.3s ease, color 0.3s ease;
}


